@font-face {
    font-family: "pixels";
    src: url(Fonts/GamiliaPixel-Regular.otf);
}

html{
    overflow: hidden;
}
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #5a6626,#88a031, #d7dcc5);
    min-height: 100vh;
    margin:0;
}

.title{
    color: white;
    font-family: "pixels";
    font-size: 43.5px;
    position: relative;
    text-align: center;
    top: 50px;
    left: 0px;
}


.arch{
    position: relative;
    left: 320px;
    bottom: 10px;
    width: 56%;
    z-index: 1;
}

.grass{
    width: 110%;
    position: relative;
    bottom: 400px;
    right: 100px;
    z-index 1;
}

.columnleft{
    position: relative;
    bottom:1000px;
    left: 120px;
    z-index: 2;

}



.columnright{
    position: relative;
    bottom:990px;
    left: 280px;
    z-index: 2;
}

#cloudleft1{
    position: relative;
    bottom: 1950px;
    right: 150px;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



#cloudleft2{
    position: relative;
    bottom: 1890px;
    right: 600px;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#leftpuff1{
    position: relative;
    bottom: 2250px;
    right: 100px;
    width: 20%;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#cloudright1{
    position: relative;
    bottom: 2200px;
    left: 800px;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#cloudright2{
    position: relative;
    bottom: 2460px;
    left: 900px;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#rightpuff1{
    position: relative;
    bottom: 2460px;
    left: 640px;
    width: 20%;
    animation-name:grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes grow{
    50%{transform: scale(1.05,1.05)}
}